*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nm{
  text-align: center;
  margin-top: 20px;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "sidebar main main"
    "footer footer footer";
  grid-template-rows: 10vh 1fr 10vh;
  grid-template-columns: 20vw 1fr 1fr;
  height: 100vh;
  width: 100vw;
  gap: 4px;
}

.navigation {
  grid-area: nav;
  background-color:#556B2F;
}

.left_slide_bar {
  grid-area: sidebar;
  background-color: #8FA31E;
}

.maincontent {
  grid-area: main;
  background-color: #EFF5D2 ;
  border-radius: 12px;
  position: relative;
}

.footer {
  grid-area: footer;
  background-color:#556B2F;

}
.footer h3{
  text-align: center;
  margin-top: 20px;
}
.left_slide_bar li{
  width: 100%;
  height: 4rem;
  border-bottom: solid #556B2F;
  text-align: center;

}